body{
    margin: 0 auto;
    padding: 2% 2%;
    background-color: wheat;
}


#messageContainer {
    font-family: Consolas !important;
    font-size: 1rem !important;
    text-align: center !important;
    transition: opacity 1s ease-in-out !important;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}